---
layout: default
title: Accueil
generator: pagination
use:
    - posts
    - posts_categories
    - posts_tags
---
<ul class="list-unstyled">
{% for post in page.pagination.items %}
<li class="accueil">
    {{ post.date|date('d/m/Y') }} --  <a class="h1" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a> -- 
    {% for category in post.meta.categories %}
    <span class="label label-{{category}}"><a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}" title="Voir tous les articles de la catégorie: {{ category }}">{{ category }}</a></span>
    {% endfor %}
</li>
{% endfor %}
</ul>
